In [2]:
import pandas as pd

In [3]:
power = pd.read_parquet('output/simple/raw-output/0/seed=0/powerSource.parquet')
power

,timestamp,timestamp_absolute,hosts_connected,power_draw,energy_usage,carbon_intensity,carbon_emission
0,30000000,1376344546000,0,201.243332,6039146.5,0.0,0.0
1,60000000,1376374546000,0,201.351837,6038843.0,0.0,0.0
2,90000000,1376404546000,0,201.426270,6039089.0,0.0,0.0
3,120000000,1376434546000,0,201.028931,6036911.0,0.0,0.0
4,150000000,1376464546000,0,201.117599,6037767.0,0.0,0.0
...,...,...,...,...,...,...,...
1440,43230000000,1419544546000,0,200.000000,6000668.0,0.0,0.0
1441,43260000000,1419574546000,0,200.000000,6000248.5,0.0,0.0
1442,43290000000,1419604546000,0,200.000000,6000213.0,0.0,0.0
1443,43293188000,1419607734000,0,201.213882,638073.5,0.0,0.0
1444,43293188000,1419607734000,0,200.000000,0.0,0.0,0.0

In [21]:
power['energy_usage'].sum()

np.float32(9686995000.0)

In [4]:
fragments = pd.read_parquet('workload_traces/bitbrains-small/fragments.parquet')
fragments

          id  duration  cpu_count     cpu_usage
0       1019    300000          1      0.000000
1       1019    300000          1     11.703998
2       1019    600000          1      0.000000
3       1019    300000          1     11.703998
4       1019    900000          1      0.000000
...      ...       ...        ...           ...
276974   997    300000          8  10524.798812
276975   997    300000          8  10761.598785
276976   997    300000          8  12289.598612
276977   997    300000          8  10044.798866
276978   997    300000          8  11751.998673

[276979 rows x 4 columns]

In [6]:
tasks = pd.read_parquet('workload_traces/bitbrains-small/tasks.parquet')
tasks

,id,submission_time,duration,cpu_count,cpu_capacity,mem_capacity
0,1019,2013-08-12 13:35:46,2592252000,1,2926.000135,181352
1,1023,2013-08-12 13:35:46,2592252000,1,2925.999560,260096
2,1026,2013-08-12 13:35:46,2592252000,1,2925.999717,249972
3,1052,2013-08-29 14:38:12,577855000,1,2926.000107,131245
4,1073,2013-08-21 11:07:12,1823566000,1,2599.999649,179306
5,1129,2013-08-12 13:35:46,2592252000,1,2925.999494,124928
6,1132,2013-08-20 11:22:04,1909074000,1,2925.999318,191739
7,1138,2013-08-12 13:35:46,2592252000,1,2599.999602,156776
8,1147,2013-08-12 13:35:46,2592252000,1,2599.999649,103484
9,1152,2013-08-12 13:35:46,2592252000,1,2925.999560,195624
10,116,2013-08-12 13:35:46,2592252000,4,11703.997664,6213632
11,1247,2013-08-12 13:35:46,2592252000,4,10399.997352,16353280
12,141,2013-08-12 13:35:46,2592252000,2,5851.998636,8388608
13,190,2013-08-12 13:35:46,2592252000,8,20799.999608,20971520
14,205,2013-08-12 13:35:46,2592252000,8,20799.999608,20971520
15,242,2013-08-12 13:35:46,2592252000,8,20799.996968,40802304
16,244,2013-08-12 13:35:46,2592252000,8,20799.994648,40761344
17,272,2013-08-12 13:35:46,2592252000,8,20799.997032,33554432
18,281,2013-08-12 13:35:46,2592252000,8,20799.996936,33554432
19,308,2013-09-04 07:58:58,625260000,2,5199.999902,6291456
20,323,2013-08-12 13:35:46,2592252000,2,5199.999298,8388608
21,331,2013-08-22 11:12:20,1736858000,4,10799.996356,16644096
22,378,2013-08-12 13:35:46,2592252000,2,5199.999280,8359936
23,379,2013-08-12 13:35:46,2592252000,2,5199.999270,8359936
24,449,2013-08-12 13:35:46,2592252000,4,10399.998520,8392704
25,463,2013-08-12 13:35:46,2592252000,4,10399.998504,3149824
26,466,2013-08-12 13:35:46,2592252000,4,10399.997372,3141632
27,467,2013-08-12 13:35:46,2592252000,4,10399.998408,3133440
28,501,2013-08-12 13:35:46,2592252000,4,10399.999796,3141632
29,506,2013-08-12 13:35:46,2592252000,4,10399.998452,3133440
30,550,2013-08-12 13:35:46,2592252000,1,2599.999951,1867776
31,554,2013-08-12 13:35:46,2592252000,1,2926.000135,4194304
32,557,2013-08-29 14:28:12,577255000,1,2926.000121,3145728
33,578,2013-08-12 13:35:46,2592252000,1,2599.999626,2092352
34,607,2013-08-12 13:35:46,2592252000,1,2599.999626,4058292
35,626,2013-08-12 13:35:46,2592252000,4,10399.998504,16355328
36,636,2013-08-12 13:35:46,2592252000,4,10399.998500,16361472
37,677,2013-08-12 13:35:46,2592252000,4,10399.999796,8257536
38,720,2013-08-12 13:35:46,2592252000,8,23407.996128,33419264
39,740,2013-08-12 13:35:46,2592252000,32,86399.988608,130457600
40,750,2013-08-12 13:35:46,2592252000,8,20799.995096,33394652
41,796,2013-08-12 13:35:46,2592252000,1,2925.999560,4194304
42,832,2013-08-12 13:35:46,2592252000,2,5199.999232,8388608
43,841,2013-08-12 13:35:46,2592252000,2,5851.999120,2095104
44,851,2013-08-12 13:35:46,2592252000,2,5852.000242,4194304
45,857,2013-08-12 13:35:46,2592252000,1,2926.000073,2097152
46,871,2013-08-12 13:35:46,2592252000,4,11704.000748,16703488
47,915,2013-08-12 13:35:46,2592252000,1,2599.999636,262144
48,957,2013-08-12 13:35:46,2592252000,4,10399.999788,8388608
49,997,2013-08-12 13:35:46,2592252000,8,19199.997832,16644096

In [7]:
host = pd.read_parquet('output/simple/raw-output/0/seed=0/host.parquet')
host

,timestamp,timestamp_absolute,host_id,host_name,core_count,mem_capacity,guests_terminated,guests_running,guests_error,guests_invalid,...,cpu_time_active,cpu_time_idle,cpu_time_steal,cpu_time_lost,power_draw,energy_usage,uptime,downtime,boot_time,boot_time_absolute
0,30000000,1376344546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,8,0,0,...,195736,29804264,0,0,201.243332,6039146.5,30000000,0,1376314546000,NaN
1,60000000,1376374546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,8,0,0,...,194218,29805782,0,0,201.351837,6038843.0,30000000,0,1376314546000,NaN
2,90000000,1376404546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,8,0,0,...,195446,29804554,0,0,201.426270,6039089.0,30000000,0,1376314546000,NaN
3,120000000,1376434546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,8,0,0,...,184557,29815443,0,0,201.028931,6036911.0,30000000,0,1376314546000,NaN
4,150000000,1376464546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,8,0,0,...,188840,29811160,0,0,201.117599,6037767.0,30000000,0,1376314546000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,43230000000,1419544546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,1,0,0,...,3345,29996655,0,0,200.000000,6000668.0,30000000,0,1376314546000,NaN
1441,43260000000,1419574546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,1,0,0,...,1246,29998754,0,0,200.000000,6000248.5,30000000,0,1376314546000,NaN
1442,43290000000,1419604546000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,1,0,0,...,1068,29998932,0,0,200.000000,6000213.0,30000000,0,1376314546000,NaN
1443,43293188000,1419607734000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,0,0,0,...,2368,3185632,0,0,201.213882,638073.5,3188000,0,1376314546000,NaN
1444,43293188000,1419607734000,bb20b45f-d4d9-5138-0000-000000000000,H01,12,140457600000,0,0,0,0,...,0,0,0,0,200.000000,0.0,0,0,1376314546000,NaN

In [9]:
output_task = pd.read_parquet('output/simple/raw-output/0/seed=0/task.parquet')
output_task

,timestamp,timestamp_absolute,task_id,host_id,task_name,cpu_count,mem_capacity,cpu_limit,cpu_time_active,cpu_time_idle,cpu_time_steal,cpu_time_lost,uptime,downtime,provision_time,boot_time,creation_time,finish_time,boot_time_absolute,task_state
0,30000000,1376344546000,00000000-0000-0000-6e78-9e6aa1b965f4,bb20b45f-d4d9-5138-0000-000000000000,1019,1,181,0.0,3,0,0,0,30000000,0,0,0.000000e+00,0,NaN,1.376315e+12,RUNNING
1,30000000,1376344546000,00000000-0000-0000-f88b-b8a8724c81ec,bb20b45f-d4d9-5138-0000-000000000000,1023,1,260,0.0,2,0,0,0,30000000,0,0,0.000000e+00,0,NaN,1.376315e+12,RUNNING
2,30000000,1376344546000,00000000-0000-0000-53cb-9f0c747ea2ea,bb20b45f-d4d9-5138-0000-000000000000,1026,1,250,0.0,20,0,0,0,30000000,0,0,0.000000e+00,0,NaN,1.376315e+12,RUNNING
3,30000000,1376344546000,00000000-0000-0000-c584-133ac916ab3c,bb20b45f-d4d9-5138-0000-000000000000,1129,1,125,0.0,3,0,0,0,30000000,0,0,0.000000e+00,0,NaN,1.376315e+12,RUNNING
4,30000000,1376344546000,00000000-0000-0000-f3b8-488c368cb0a6,bb20b45f-d4d9-5138-0000-000000000000,1138,1,157,0.0,18,0,0,0,30000000,0,0,0.000000e+00,0,NaN,1.376315e+12,RUNNING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41233,43230000000,1419544546000,00000000-28b8-7810-8086-d193a6f2b568,bb20b45f-d4d9-5138-0000-000000000000,1132,1,192,0.0,1,0,0,0,30000000,0,683178000,4.138580e+10,683178000,NaN,1.417700e+12,RUNNING
41234,43230000000,1419544546000,00000000-2dd1-37b0-d9dc-cac414d23c6f,bb20b45f-d4d9-5138-0000-000000000000,1073,1,179,0.0,-169,0,0,0,-1814203000,0,768686000,NaN,768686000,4.320769e+10,NaN,COMPLETED
41235,43260000000,1419574546000,00000000-28b8-7810-8086-d193a6f2b568,bb20b45f-d4d9-5138-0000-000000000000,1132,1,192,0.0,1,0,0,0,30000000,0,683178000,4.138580e+10,683178000,NaN,1.417700e+12,RUNNING
41236,43290000000,1419604546000,00000000-28b8-7810-8086-d193a6f2b568,bb20b45f-d4d9-5138-0000-000000000000,1132,1,192,0.0,1,0,0,0,30000000,0,683178000,4.138580e+10,683178000,NaN,1.417700e+12,RUNNING
41237,43293188000,1419607734000,00000000-28b8-7810-8086-d193a6f2b568,bb20b45f-d4d9-5138-0000-000000000000,1132,1,192,0.0,-186,0,0,0,-1904203000,0,683178000,NaN,683178000,4.329319e+10,NaN,COMPLETED